*.class
*.log
/.idea/
.idea/workspace.xml
.idea/scala_compiler.xml
.idea/sbt.xml
.idea/modules/Getting-Started-With-Spark-Streaming.iml
dotnet/SparkStreamingDotNetExample/.vs/SparkStreamingDotNetExample/v16/.suo
dotnet/SparkStreamingDotNetExample/SparkStreamingDotNetExample/obj/SparkStreamingDotNetExample.fsproj.nuget.g.targets
dotnet/SparkStreamingDotNetExample/SparkStreamingDotNetExample/obj/SparkStreamingDotNetExample.fsproj.nuget.g.props
dotnet/SparkStreamingDotNetExample/SparkStreamingDotNetExample/obj/SparkStreamingDotNetExample.fsproj.nuget.dgspec.json
dotnet/SparkStreamingDotNetExample/SparkStreamingDotNetExample/obj/Release/netcoreapp3.1/SparkStreamingDotNetExample.fsproj.FileListAbsolute.txt
dotnet/SparkStreamingDotNetExample/SparkStreamingDotNetExample/obj/Release/netcoreapp3.1/SparkStreamingDotNetExample.fsproj.CoreCompileInputs.cache
dotnet/SparkStreamingDotNetExample/SparkStreamingDotNetExample/obj/Release/netcoreapp3.1/SparkStreamingDotNetExample.exe
dotnet/SparkStreamingDotNetExample/SparkStreamingDotNetExample/obj/Release/netcoreapp3.1/SparkStreamingDotNetExample.assets.cache
dotnet/SparkStreamingDotNetExample/SparkStreamingDotNetExample/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.fs
dotnet/SparkStreamingDotNetExample/SparkStreamingDotNetExample/obj/project.assets.json
project/project/target/config-classes/$b93ee25cd0d3446747c1.cache
project/target/config-classes/$41bb1611c4bbb7fb00e4.cache
project/target/config-classes/$44d17e4b26b8428062a1.cache
project/target/config-classes/$4fd6380afa26e398320d.cache
project/target/config-classes/$55f4f5939bba66554e38.cache
project/target/config-classes/$6ed03ff1e3c2872414ac.cache
project/target/config-classes/$7d77ed38641b1d0b3774.cache
project/target/config-classes/$8a6c19448be0d0309937.cache
project/target/config-classes/$a41d50c968e86f3a1759.cache
project/target/streams/_global/_global/csrLogger/_global/streams/out
target/.history
target/scala-2.12/update/update_cache_2.12/inputs
target/scala-2.12/update/update_cache_2.12/output
target/streams/_global/_global/checkBuildSources/_global/inputFileStamps/previous
target/streams/_global/_global/csrLogger/_global/streams/out
target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
target/streams/_global/update/_global/streams/out
target/streams/_global/updateClassifiers/_global/streams/out
target/streams/_global/updateClassifiers/_global/streams/update_cache_2.12/inputs
target/streams/_global/updateClassifiers/_global/streams/update_cache_2.12/output
target/streams/compile/externalDependencyClasspath/_global/streams/export
target/streams/compile/managedClasspath/_global/streams/export
target/streams/runtime/externalDependencyClasspath/_global/streams/export
target/streams/runtime/managedClasspath/_global/streams/export
target/streams/test/externalDependencyClasspath/_global/streams/export
target/streams/test/managedClasspath/_global/streams/export
.cassandraWorkbench.jsonc
.cassandraWorkbench/editors/0.json
.cassandraWorkbench/history.json
gswss.code-workspace
.idea/workspace.xml
dotnet/SparkStreamingDotNetExample/.vs/SparkStreamingDotNetExample/DesignTimeBuild/.dtbcache.v2
dotnet/SparkStreamingDotNetExample/SparkStreamingDotNetExample/obj/project.nuget.cache
dotnet/SparkStreamingDotNetExample/SparkStreamingDotNetExample/obj/Release/netcoreapp3.1/SparkStreamingDotNetExample.AssemblyInfo.fs
dotnet/SparkStreamingDotNetExample/SparkStreamingDotNetExample/obj/Release/netcoreapp3.1/SparkStreamingDotNetExample.AssemblyInfoInputs.cache
dotnet/SparkStreamingDotNetExample/SparkStreamingDotNetExample/obj/Release/netcoreapp3.1/SparkStreamingDotNetExample.fsprojAssemblyReference.cache
